huggingface_hub==0.23.3
matplotlib==3.9.0
numpy==1.26.4
pandas==2.2.2
transformers==4.41.2
accelerate==0.31.0
evaluate==0.4.2
peft==0.11.1
Pillow==10.3.0
py_vncorenlp==0.1.4
Requests==2.32.3
torch==2.3.1
torchvision==0.18.1
sentencepiece==0.2.0
wandb==0.17.2
timm==1.0.7
python-dotenv==1.0.1
scikit-learn==1.5.1
pynvml==11.5.3